@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');


*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #221c34;
}

header{
    background-color: #fb4734;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    z-index: 20;
    box-shadow: 0px 1px 10px black;
    position: fixed;
    width: 100%;
}

    header img{
        width: 3em;
    }

    header span{
        color: #FFBB00;
        font-size: 2.2em;
        display: flex; 
        align-items: center;
        margin-right: 0.3em;
    }

    nav{
        position: fixed;
        display: none;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        background-color: #fb4734; 
        z-index: 12;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0.9;
        padding-top: 2em;
    }
        nav a{
            text-decoration: none;
            color: whitesmoke;
            font-size: 1.5em;
            width: 80%;
            text-align: center;
            border-bottom: solid 1px;
        }

main{
    height: 100vh;
}
    main article{
        display: flex;
        position: relative;
    }
        main article img{
            width: 30%;
            margin-left: 7%;
            margin-top: 27%;
            z-index: 2;
        }

        main article h1{
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: #fb4734;
            margin-left: 32%;
            margin-top: 38%;
            font-size: 5.5em;
            z-index: 1; 
        }

        main article h2{
            font-family: 'Roboto', sans-serif;
            color: whitesmoke;
            position: absolute;
            margin-left: 34%;
            margin-top: 29%;
            font-size: 3em;
        }
    main section{
      
    }

        main section img{
            width: 100%;
            filter: drop-shadow(0px 0px 5px);
        }

    /*Start hidden div for ordering pizza */
    main div:nth-child(1){
        position: fixed;
        z-index: 11;
        height: 100vh;
        width: 100vw;
        display: none;
        padding: 1em;
    }

    main div:nth-child(1) section{
        background-color: #fb4734;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main div:nth-child(1) section button{
        width: 12em;
        height: 3em;
        margin-top: 6em;
    }

    main div:nth-child(1) section article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        height: 70%;
        justify-content: space-evenly;
    }

    main div:nth-child(1) section article h4{
        font-size: 1.5em;
        color: whitesmoke;
    }
    /* End hidden div for ordering pizza */

    #saludo{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #saludo h3{
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            color: whitesmoke;
            text-align: center;
            font-size: 1.7em;
        }

        #saludo p{
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            color: whitesmoke;
            font-size: 1.2em;
            text-align: center;
            margin-top: 0.2em;
        }

        #saludo button{
            width: 10em;
            height: 3em;
            margin-top: 1em;
            background-color: #fb4734;
            color: whitesmoke;
            border: none;
            border-radius: 10px;
            z-index: 2;
        }

        #particles-js{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
/* Start Promotions div */
#promociones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

    #promociones h4{
        color: whitesmoke;
        font-size: 2em; 
        margin-top: 2em;
    }

    #promociones section img{
        width: 100%;
        box-shadow: 0px 1px 10px black;
    }
/* End Promotions div */

/* Start div pizzas */
#especialidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em; 
}

    #especialidades h4{
        color: whitesmoke;
        font-size: 2em;
        margin-top: 2em;
    }

    #especialidades section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #especialidades section img{
            width: 100%;
            box-shadow: 0px 1px 10px black;
        }

        #especialidades section h5{
            color: #fb4734;
            margin-top: 0.1em;
            font-size: 1.5em;
        }

        #especialidades section p{
            color: whitesmoke;
        }
/* End div pizzas */

/* Start FOOTER */
footer{
    background-color: #fb4734;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}

    footer p{
        color: #FFBB00;
        
    }
/* End FOOTER */